<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Productos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/estiloproductos.css' th:href="@{/css/estiloproductos.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
    <script src='main.js'></script>
</head>
<body>
    <nav class="bord">
        <ul>
            <li>
                <form th:action="@{/Usuarios}" class="elemento" method="get">
                    <input type="submit" value="Usuarios">
                </form>
            </li>
            <li>
                <form th:action="@{/Clientes}" class="elemento" method="get">
                    <input type="submit" value="Clientes">
                </form>
            </li>
            <li>
                <form th:action="@{/Proveedores}" class="elemento" method="get">
                    <input type="submit" value="Proveedores">
                </form>
            </li>
            <li>
                <form th:action="@{/Productos}" class="elemento" method="get">
                    <input type="submit" value="Productos">
                </form>
            </li>
            <li>
                <form th:action="@{/Ventas}" class="elemento" method="get">
                    <input type="submit" value="Ventas">
                </form>
            </li>
            <li>
                <form th:action="@{/Reportes}" class="elemento" method="get">
                    <input type="submit" value="Reportes">
                </form>
            </li>
            <div class="elemento">
                <form th:action="@{/logout}" method="post">
                    <input style="float:right;" type="submit" value="Cerrar Sesion"/>
                </form>
            </div>
        </ul>
    </nav>

    <h1>Tienda Generica</h1>
    <hr>

    <div class="contenido">
        <form id="forma" name="forma" method="POST">
            <h2>Productos</h2>
            <div class="element">
                <label for="archivo" class="prueba">Nombre del Archivo:</label>
                <input type="text" class="prueba" id="archivo" name="archivo">
            </div>
            <div class="file" id="file1">
                <input type="file" id="archivo" name="archivo" required="true"/>
            </div><br>
            <div class="element">
                <input type="submit" value="Cargar">
            </div>
        </form>
    </div>
</body>
</html>